# Inlämning 2: Numpy, Pandas och Analys

### Part 1: Numpy

In [1]:
import numpy as np

Konstruera en array med 10 kolumner och 5 rader av float-tal. Inget tal får vara samma.

In [2]:
N = 50
xa = np.linspace(0, 1, N, endpoint=False)
arr = np.array(xa)
x1 = arr.reshape(5,10)
print(x1)

[[0.   0.02 0.04 0.06 0.08 0.1  0.12 0.14 0.16 0.18]
 [0.2  0.22 0.24 0.26 0.28 0.3  0.32 0.34 0.36 0.38]
 [0.4  0.42 0.44 0.46 0.48 0.5  0.52 0.54 0.56 0.58]
 [0.6  0.62 0.64 0.66 0.68 0.7  0.72 0.74 0.76 0.78]
 [0.8  0.82 0.84 0.86 0.88 0.9  0.92 0.94 0.96 0.98]]

Konstruera en ny array till med 10 kolumner och 7 rader av float-tal. Den skall inte vara samma som ovan array..

In [3]:
N = 70
xb = np.linspace(1, 2, N, endpoint=False)
arr = np.array(xb)
x2 = arr.reshape(7,10)
print(x2)

[[1.         1.01428571 1.02857143 1.04285714 1.05714286 1.07142857
  1.08571429 1.1        1.11428571 1.12857143]
 [1.14285714 1.15714286 1.17142857 1.18571429 1.2        1.21428571
  1.22857143 1.24285714 1.25714286 1.27142857]
 [1.28571429 1.3        1.31428571 1.32857143 1.34285714 1.35714286
  1.37142857 1.38571429 1.4        1.41428571]
 [1.42857143 1.44285714 1.45714286 1.47142857 1.48571429 1.5
  1.51428571 1.52857143 1.54285714 1.55714286]
 [1.57142857 1.58571429 1.6        1.61428571 1.62857143 1.64285714
  1.65714286 1.67142857 1.68571429 1.7       ]
 [1.71428571 1.72857143 1.74285714 1.75714286 1.77142857 1.78571429
  1.8        1.81428571 1.82857143 1.84285714]
 [1.85714286 1.87142857 1.88571429 1.9        1.91428571 1.92857143
  1.94285714 1.95714286 1.97142857 1.98571429]]

Gör om de ovan arrayerna så att de har 5 kolumner men innehåller samma data.

In [4]:
N = 50
x = np.linspace(0, 1, N, endpoint=True)
arr = np.array(x)
x1 = arr.reshape(10,5)
print(x1)

N = 70
x = np.linspace(1, 2, N, endpoint=True)
arr = np.array(x)
x2 = arr.reshape(14,5)
print(x2)

[[0.         0.02040816 0.04081633 0.06122449 0.08163265]
 [0.10204082 0.12244898 0.14285714 0.16326531 0.18367347]
 [0.20408163 0.2244898  0.24489796 0.26530612 0.28571429]
 [0.30612245 0.32653061 0.34693878 0.36734694 0.3877551 ]
 [0.40816327 0.42857143 0.44897959 0.46938776 0.48979592]
 [0.51020408 0.53061224 0.55102041 0.57142857 0.59183673]
 [0.6122449  0.63265306 0.65306122 0.67346939 0.69387755]
 [0.71428571 0.73469388 0.75510204 0.7755102  0.79591837]
 [0.81632653 0.83673469 0.85714286 0.87755102 0.89795918]
 [0.91836735 0.93877551 0.95918367 0.97959184 1.        ]]
[[1.         1.01449275 1.02898551 1.04347826 1.05797101]
 [1.07246377 1.08695652 1.10144928 1.11594203 1.13043478]
 [1.14492754 1.15942029 1.17391304 1.1884058  1.20289855]
 [1.2173913  1.23188406 1.24637681 1.26086957 1.27536232]
 [1.28985507 1.30434783 1.31884058 1.33333333 1.34782609]
 [1.36231884 1.37681159 1.39130435 1.4057971  1.42028986]
 [1.43478261 1.44927536 1.46376812 1.47826087 1.49275362]
 [1.50724638 1.52173913 1.53623188 1.55072464 1.56521739]
 [1.57971014 1.5942029  1.60869565 1.62318841 1.63768116]
 [1.65217391 1.66666667 1.68115942 1.69565217 1.71014493]
 [1.72463768 1.73913043 1.75362319 1.76811594 1.7826087 ]
 [1.79710145 1.8115942  1.82608696 1.84057971 1.85507246]
 [1.86956522 1.88405797 1.89855072 1.91304348 1.92753623]
 [1.94202899 1.95652174 1.97101449 1.98550725 2.        ]]

Slå ihop de bägge arrayerna till en array.

In [5]:
x3 = np.concatenate((x1, x2), axis=0)
print(x3)

[[0.         0.02040816 0.04081633 0.06122449 0.08163265]
 [0.10204082 0.12244898 0.14285714 0.16326531 0.18367347]
 [0.20408163 0.2244898  0.24489796 0.26530612 0.28571429]
 [0.30612245 0.32653061 0.34693878 0.36734694 0.3877551 ]
 [0.40816327 0.42857143 0.44897959 0.46938776 0.48979592]
 [0.51020408 0.53061224 0.55102041 0.57142857 0.59183673]
 [0.6122449  0.63265306 0.65306122 0.67346939 0.69387755]
 [0.71428571 0.73469388 0.75510204 0.7755102  0.79591837]
 [0.81632653 0.83673469 0.85714286 0.87755102 0.89795918]
 [0.91836735 0.93877551 0.95918367 0.97959184 1.        ]
 [1.         1.01449275 1.02898551 1.04347826 1.05797101]
 [1.07246377 1.08695652 1.10144928 1.11594203 1.13043478]
 [1.14492754 1.15942029 1.17391304 1.1884058  1.20289855]
 [1.2173913  1.23188406 1.24637681 1.26086957 1.27536232]
 [1.28985507 1.30434783 1.31884058 1.33333333 1.34782609]
 [1.36231884 1.37681159 1.39130435 1.4057971  1.42028986]
 [1.43478261 1.44927536 1.46376812 1.47826087 1.49275362]
 [1.50724638 1.52173913 1.53623188 1.55072464 1.56521739]
 [1.57971014 1.5942029  1.60869565 1.62318841 1.63768116]
 [1.65217391 1.66666667 1.68115942 1.69565217 1.71014493]
 [1.72463768 1.73913043 1.75362319 1.76811594 1.7826087 ]
 [1.79710145 1.8115942  1.82608696 1.84057971 1.85507246]
 [1.86956522 1.88405797 1.89855072 1.91304348 1.92753623]
 [1.94202899 1.95652174 1.97101449 1.98550725 2.        ]]

Ändra ordningen på kolumnerna så att de har ordningen kolumn5, kolumn3, kolumn4, kolumn1 och kolumn2.

In [6]:
permutation = [4, 2, 3, 0, 1]
idx = np.empty_like(permutation)
idx[permutation] = np.arange(len(permutation))
x3[:, idx]  # return a rearranged copy
x3[:] = x3[:, idx]  # in-place modification of a
print(x3)

[[0.06122449 0.08163265 0.02040816 0.04081633 0.        ]
 [0.16326531 0.18367347 0.12244898 0.14285714 0.10204082]
 [0.26530612 0.28571429 0.2244898  0.24489796 0.20408163]
 [0.36734694 0.3877551  0.32653061 0.34693878 0.30612245]
 [0.46938776 0.48979592 0.42857143 0.44897959 0.40816327]
 [0.57142857 0.59183673 0.53061224 0.55102041 0.51020408]
 [0.67346939 0.69387755 0.63265306 0.65306122 0.6122449 ]
 [0.7755102  0.79591837 0.73469388 0.75510204 0.71428571]
 [0.87755102 0.89795918 0.83673469 0.85714286 0.81632653]
 [0.97959184 1.         0.93877551 0.95918367 0.91836735]
 [1.04347826 1.05797101 1.01449275 1.02898551 1.        ]
 [1.11594203 1.13043478 1.08695652 1.10144928 1.07246377]
 [1.1884058  1.20289855 1.15942029 1.17391304 1.14492754]
 [1.26086957 1.27536232 1.23188406 1.24637681 1.2173913 ]
 [1.33333333 1.34782609 1.30434783 1.31884058 1.28985507]
 [1.4057971  1.42028986 1.37681159 1.39130435 1.36231884]
 [1.47826087 1.49275362 1.44927536 1.46376812 1.43478261]
 [1.55072464 1.56521739 1.52173913 1.53623188 1.50724638]
 [1.62318841 1.63768116 1.5942029  1.60869565 1.57971014]
 [1.69565217 1.71014493 1.66666667 1.68115942 1.65217391]
 [1.76811594 1.7826087  1.73913043 1.75362319 1.72463768]
 [1.84057971 1.85507246 1.8115942  1.82608696 1.79710145]
 [1.91304348 1.92753623 1.88405797 1.89855072 1.86956522]
 [1.98550725 2.         1.95652174 1.97101449 1.94202899]]

### Part 2: Panda

In [7]:
import pandas as pd

Hur många regioner finns med i data?
Lista regionerna i bokstavsordning
Vad är invånarantalet i varje region
Hur många brott begicks i varje region
Skapa en dataframe på de områden  med de 10 högsta antalet överfall.
Lägg till en kolumn i dataframen som visar % antal överfall i området jämfört med invånarantal i området
Skapa en ny dataframe som innehåller antalet områden som finns av de olika typerna av urban area. Ledtråd: groupby
Ta reda på hur många områden hade population men inga överfall. Jämfört totala populationen i dessa med totala poplulationen i deras region.
Räkna antalet områden som inte har någon data på överfall eller invånare.
VG: Skapa en ny dataframe med 10  områderna med mer än 5000 invånare, men har de lägsta överfallen per invånare. 
VG: Skapa en ny dataframe som innehåller % överfall i regionen jämfört med antalet invånare i regionen.  
VG: Lägg till en ny kolumn i dataframen som visar % antal överfall per region

In [8]:
assults = pd.read_csv('assults.csv')
assults

,Index,Area_unit_2013_code,Area_unit_2013_label,Victimisations_calendar_year_2015,Population_mid_point_2015,Rate_per_10000_population,Rate_ratio_NZ_average_rate,Urban_area_2013_code,Urban_area_2013_label,Urban_area_type,Territorial_authority_area_2013_code,Territorial_authority_area_2013_label,Region_2013_code,Region_2013_label
0,1,514102,Auckland Central West,550,15900,346,6.6,4,Central Auckland Zone,Main urban area,76,Auckland,2,Auckland Region
1,2,573101,Willis Street-Cambridge Terrace,447,8300,539,10.3,20,Wellington Zone,Main urban area,47,Wellington City,9,Wellington Region
2,3,529700,Hamilton Central,380,3170,"1,199",22.9,6,Hamilton Zone,Main urban area,16,Hamilton City,3,Waikato Region
3,4,514103,Auckland Central East,375,13250,283,5.4,4,Central Auckland Zone,Main urban area,76,Auckland,2,Auckland Region
4,5,591500,Cathedral Square,305,570,"5,351",102.3,22,Christchurch,Main urban area,60,Christchurch City,13,Canterbury Region
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015,2016,506653,Riverhead,0,3510,-,-,502,Rural (Incl.some Off Shore Islands),Rural area,76,Auckland,2,Auckland Region
2016,2017,610601,Grasmere,0,3590,-,-,24,Invercargill,Main urban area,75,Invercargill City,15,Southland Region
2017,2018,536513,Bethlehem East,0,3590,-,-,9,Tauranga,Main urban area,23,Tauranga City,4,Bay of Plenty Region
2018,2019,574302,Te Kainga,0,4020,-,-,20,Wellington Zone,Main urban area,47,Wellington City,9,Wellington Region
2019,2020,527007,Horsham Downs,0,5440,-,-,6,Hamilton Zone,Main urban area,16,Hamilton City,3,Waikato Region

### 1. Hur många regioner finns med i data?

In [9]:
print(len(assults.drop_duplicates('Region_2013_label')))

17

### 2. Lista regionerna i bokstavsordning

In [10]:
df = assults.sort_values(by=['Region_2013_label']).drop_duplicates('Region_2013_label')
df['Region_2013_label']

1649         Area Outside Region
363              Auckland Region
1552        Bay of Plenty Region
1179           Canterbury Region
1642             Gisborne Region
1750          Hawke's Bay Region
207     Manawatu-Wanganui Region
333           Marlborough Region
1239               Nelson Region
997             Northland Region
1928                Otago Region
2011            Southland Region
1766             Taranaki Region
387                Tasman Region
1732              Waikato Region
1854           Wellington Region
1833           West Coast Region
Name: Region_2013_label, dtype: object

### 3. Vad är invånarantalet i varje region

In [11]:
df1 = assults.groupby('Region_2013_label')[['Population_mid_point_2015']].sum()
df1

                          Population_mid_point_2015
Region_2013_label
Area Outside Region                             610
Auckland Region                             1569890
Bay of Plenty Region                         287130
Canterbury Region                            586310
Gisborne Region                               47370
Hawke's Bay Region                           160010
Manawatu-Wanganui Region                     234460
Marlborough Region                            45340
Nelson Region                                 49940
Northland Region                             168320
Otago Region                                 215030
Southland Region                              97190
Taranaki Region                              115760
Tasman Region                                 49500
Waikato Region                               439000
Wellington Region                            496890
West Coast Region                             32700

### 4.Hur många brott begicks i varje region.

In [12]:
df1 = assults.groupby('Region_2013_label')[['Victimisations_calendar_year_2015']].sum()
df1

                          Victimisations_calendar_year_2015
Region_2013_label
Area Outside Region                                       0
Auckland Region                                        8010
Bay of Plenty Region                                   1751
Canterbury Region                                      2942
Gisborne Region                                         436
Hawke's Bay Region                                     1068
Manawatu-Wanganui Region                               1270
Marlborough Region                                      209
Nelson Region                                           357
Northland Region                                        905
Otago Region                                           1142
Southland Region                                        381
Taranaki Region                                         493
Tasman Region                                           161
Waikato Region                                         2330
Wellington Region                                      2459
West Coast Region                                       121

### 5.Skapa en dataframe på de områden  med de 10 högsta antalet överfall.

In [13]:
df1['Victimisations_calendar_year_2015'].nlargest(10)

Region_2013_label
Auckland Region             8010
Canterbury Region           2942
Wellington Region           2459
Waikato Region              2330
Bay of Plenty Region        1751
Manawatu-Wanganui Region    1270
Otago Region                1142
Hawke's Bay Region          1068
Northland Region             905
Taranaki Region              493
Name: Victimisations_calendar_year_2015, dtype: int64

### 6.Lägg till en kolumn i dataframen som visar % antal överfall i området jämfört medinvånarantal i området

In [14]:
procent = assults['Victimisations_calendar_year_2015'] / assults['Population_mid_point_2015']
assults["Procent_Victimisations_by_Population"] = procent
assults

,Index,Area_unit_2013_code,Area_unit_2013_label,Victimisations_calendar_year_2015,Population_mid_point_2015,Rate_per_10000_population,Rate_ratio_NZ_average_rate,Urban_area_2013_code,Urban_area_2013_label,Urban_area_type,Territorial_authority_area_2013_code,Territorial_authority_area_2013_label,Region_2013_code,Region_2013_label,Procent_Victimisations_by_Population
0,1,514102,Auckland Central West,550,15900,346,6.6,4,Central Auckland Zone,Main urban area,76,Auckland,2,Auckland Region,0.034591
1,2,573101,Willis Street-Cambridge Terrace,447,8300,539,10.3,20,Wellington Zone,Main urban area,47,Wellington City,9,Wellington Region,0.053855
2,3,529700,Hamilton Central,380,3170,"1,199",22.9,6,Hamilton Zone,Main urban area,16,Hamilton City,3,Waikato Region,0.119874
3,4,514103,Auckland Central East,375,13250,283,5.4,4,Central Auckland Zone,Main urban area,76,Auckland,2,Auckland Region,0.028302
4,5,591500,Cathedral Square,305,570,"5,351",102.3,22,Christchurch,Main urban area,60,Christchurch City,13,Canterbury Region,0.535088
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015,2016,506653,Riverhead,0,3510,-,-,502,Rural (Incl.some Off Shore Islands),Rural area,76,Auckland,2,Auckland Region,0.000000
2016,2017,610601,Grasmere,0,3590,-,-,24,Invercargill,Main urban area,75,Invercargill City,15,Southland Region,0.000000
2017,2018,536513,Bethlehem East,0,3590,-,-,9,Tauranga,Main urban area,23,Tauranga City,4,Bay of Plenty Region,0.000000
2018,2019,574302,Te Kainga,0,4020,-,-,20,Wellington Zone,Main urban area,47,Wellington City,9,Wellington Region,0.000000
2019,2020,527007,Horsham Downs,0,5440,-,-,6,Hamilton Zone,Main urban area,16,Hamilton City,3,Waikato Region,0.000000

### 7.Skapa en ny dataframe som innehåller antalet områden som finns av de olika typerna avurban area. Ledtråd:groupby

In [15]:
df = assults.groupby('Urban_area_type')[['Urban_area_2013_label']].count()
df

                      Urban_area_2013_label
Urban_area_type
Main urban area                        1112
Minor urban area                        137
Rural area                              640
Secondary urban area                    131

### 8.Ta reda på hur många områden hade population men inga överfall. Jämfört totalapopulationen i dessa med totala poplulationen i deras region.

In [16]:
df1 = assults[(assults['Victimisations_calendar_year_2015'] == 0)&(assults['Population_mid_point_2015'] != 0)]
df2 = df1.groupby('Area_unit_2013_label')[['Area_unit_2013_label','Population_mid_point_2015','Region_2013_label']]

print('Antalet områden hade population men inga överfall är: ',len(df2))

Antalet områden hade population men inga överfall är:  291

In [17]:
totalapopulationen_i_varje_område = df1.groupby('Area_unit_2013_label')[['Population_mid_point_2015']].sum()
totalapopulationen_i_varje_område

                      Population_mid_point_2015
Area_unit_2013_label
Adventure                                  1430
Akaroa                                      620
Algies Bay                                  750
Allen Road                                  210
Arahiwi                                     180
...                                         ...
Woodend West                                 60
Woodlands                                   280
Woodridge                                  1440
Wyllies Crossing                            330
Wyndham                                     550

[291 rows x 1 columns]

In [18]:
totalapoplulationen_i_varje_region = assults.groupby('Region_2013_label')[['Population_mid_point_2015']].sum()
totalapoplulationen_i_varje_region

                          Population_mid_point_2015
Region_2013_label
Area Outside Region                             610
Auckland Region                             1569890
Bay of Plenty Region                         287130
Canterbury Region                            586310
Gisborne Region                               47370
Hawke's Bay Region                           160010
Manawatu-Wanganui Region                     234460
Marlborough Region                            45340
Nelson Region                                 49940
Northland Region                             168320
Otago Region                                 215030
Southland Region                              97190
Taranaki Region                              115760
Tasman Region                                 49500
Waikato Region                               439000
Wellington Region                            496890
West Coast Region                             32700

### 9.Räkna antalet områden som inte har ån data på överfall eller invånare.

In [19]:
df1 = assults[(assults['Victimisations_calendar_year_2015'] == 0)&(assults['Population_mid_point_2015'] == 0)]
df2 = df1.groupby('Area_unit_2013_label')[['Area_unit_2013_label','Population_mid_point_2015','Region_2013_label']]

print('Antalet områden som inte har någon data på överfall eller invånare är: ',len(df2))

Antalet områden som inte har någon data på överfall eller invånare är:  116

### Part 3: Utforskning/analys

Minst 500 rader, 5 Kolumner i ditt valda dataset

#### Step 1: Välj dataset

Hitta ett intressant dataset. Det valda datasettet måste vara i CSV format,  ha minst 500 rader och 5 kolumner. 
Ladda ner datasetet med pandas read_csv funktion och en url (se nedan). Alternativt i inlämningen skicka med datasettet.

In [20]:
data = pd.read_csv('healthcare_stroke_dataset.csv')

#### Step 2: Data preparation och Cleaning

Ladda in dataset in i en dataframe med pandas. 
Behandla missade data, icke-korrekt data och fel data.
Gör andra steg som behövs (gör om sträng datum till riktiga datum, skapa fler kolumner, slå ihop datasets osv).
Summera hur datasetet ser ut i nuvarande läge i dina markdowns. Storlek, kolumner, kategori typer (qualitative vs. quantitative), kvalitet på data, fång osv.

### Take a first look at the data

In [69]:
# I can see missing data in (bmi-Column) already!
data.head()

,id,date,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,12/30/2020,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,8/18/2020,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,3/5/2020,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,7/8/2020,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,6/5/2020,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

### How many missing data points do we have?

In [22]:
# get the number of missing data points per column
missing_values_count = data.isnull().sum()

# look at the # of missing points in the first ten columns
missing_values_count[0:13]

# There is 201 missing data in bmi

id                     0
date                   0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

### How many missing data points do we have

In [23]:
# how many total missing values do we have?
total_cells = np.product(data.shape)
total_missing = missing_values_count.sum()

# percent of data that is missing
percent_missing = (total_missing/total_cells) * 100
print(percent_missing)

0.30257413819057655

### Drop missing values

In [51]:
# remove all the rows that contain a missing value
no_missing_data = data.dropna()

# get the number of missing data points per column
missing_values_count = no_missing_data.isnull().sum()

# look at the # of missing points in the first ten columns
missing_values_count[0:13]

id                   0
date                 0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [53]:
no_missing_data.head()

,id,date,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,12/30/2020,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,31112,3/5/2020,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,7/8/2020,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,6/5/2020,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,6/1/2020,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1

In [82]:
#how many mail in this study
All_male = len(no_missing_data[(no_missing_data['gender'] == 'Male')])
# how many total missing values do we have?
total_cells = np.product(data.shape)

# percent of data that is missing
percent_male = (All_male/total_cells) * 100
precent_female = (1-(percent_male/100))*100


print('Total:',total_cells)
print('male:',All_male)
print('female:', total_cells-All_male)
print('percent_female:',precent_female)
print('percent_male:', percent_male)

Total: 66430
male: 2011
female: 64419
percent_female: 96.97275327412314
percent_male: 3.027246725876863

#### Step 3: Undersökande analys och visualisering

Undersök data genom analysera (mean, sum, range osv)  intressant statistik i numeriska kolumnerna.
Undersök distributions av numeriska kolumner genom histogram osv
Undersök relationen mellan kolumner med scatter plots, bar chars osv.
Notera intressanta upptäckter i din markdown.

#### Step 4: För VG - fråga och svara på 4 intressanta frågor om datan

#### Step 5: Summera dina slutsatser & Skriv ett avslut.